<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body style="padding: 1em">
<div class="container">

	<p>Thanks for registering your interest in ${mailMetaData.fromName}! Any updates will be sent to this address.</p>

	<p>If you no longer wish to receive updates from us, please just <a href="mailto:${mailMetaData.fromAddress} (${mailMetaData.fromName})?subject=Unsubscribe">drop us a mail</a> and we'll remove you from our list.</p>

	<p>We will be in touch very soon!</p>

	<p><strong>${mailMetaData.fromName}</strong></p>

	</div>
</body>
</html>